
<% layout('layout/adminlayout') %>
<h2>manage users</h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th>username</th>
      <th>email</th>
      <th>status</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td>
          <a href="/admin/edit/<%= user._id %>">edit</a> |
          <a href="/admin/delete/<%= user._id %>">delete</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
